.transfer {
    margin: 50px 0;
}
.transfer__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.transfer__wrapper:nth-child(1) {
    .transfer__inner{
        box-shadow: 0px 0px 5px 0px #FF9A62;
    }
}
.transfer__wrapper:nth-child(2) {
    .transfer__inner{
        box-shadow: 0px 0px 5px 0px #2875FF;
    }
}
.transfer__wrapper:nth-child(3) {
    .transfer__inner{
        box-shadow: 0px 0px 5px 0px #54D7AF;
    }
}
.transfer__wrapper:nth-child(4) {
    .transfer__inner{
        box-shadow: 0px 0px 5px 0px #F05D8A;
    }
}
.transfer__wrapper {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        .transfer__img{
            transform: scale(1.2);
        }
        .transfer__imgWrap{
            border-radius: 10px 10px 0 0 ;
        }
        .transfer__inner{
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
        }

    }
}
.transfer__imgWrap{
    overflow: hidden;
}
.transfer__img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: .5s;
}
.transfer__inner {
    padding: 20px;
    transition: .5s;
}
.transfer__name {
    line-height: 1.2;
    font-weight: 600;
    font-size: 20px;
}
.transfer__dscr {
    line-height: 1.2;
    margin: 0;
}