.innovative {
    margin: 50px 0;
}
.innovative__box {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 60px 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.innovative__left {
}
.innovative__title {
    @include h2Title;
    color: #000;
    text-align: left;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.3;
}
.innovative__dscr {
    font-weight: 700;
}
.innovative__txt {
    line-height: 24px;
    padding-top: 10px;
}
.innovative__right {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    padding-bottom: 60px;
}
.innovative__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}