@media(max-width: 1023px){
    .forms__img {
        max-width: 445px;
    }
}
@media(max-width: 900px) {
    .professional__box,
    .price__box,
    .forms__box,
    .freeAnalysis__box,
    .service__box {
        grid-template-columns: 1fr;
    }
    .professional__inner {
        align-items: center;
    }
    .professional {
        margin-top: 20px;
    }
    .transfer__box {
        gap: 20px;
    }
    .forms__img {
        display: none;
    }
    .forms__wrapper {
        padding: 60px;
        padding-top: 30px;
    }
    .beforeAfter__box {
        padding: 20px 30px;
    }
    .innovative__box {
        grid-template-columns: 1fr;
    }
    .innovative__box {
        display: flex;
        padding-top: 0;
        gap: 10px;
        flex-direction: column-reverse;
    }
    .innovative__right {
        padding-bottom: 0px;
    }
}
@media(max-width: 767px) {
    .transfer__box,
    .beforeAfter__box {
        grid-template-columns: 1fr;
    }
    .freeAnalysis__box,
    .innovative__box {
        padding: 30px;
    }
    .innovative__right {
        padding-bottom: 0;
    }
    .innovative__box {
        padding-top: 0;
    }
    .service__box {
        padding: 20px 10px;;
        gap: 20px;
    }
    .messageFixed {
        padding: 0px;
    }
}
@media(max-width: 500px) {
    .price__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .price__inner {
        align-items: center;
    }
    .forms__wrapper {
        padding: 20px;
    }
    .beforeAfter__box,
    .freeAnalysis__box,
    .innovative__box,
    .service__wrap {
        padding: 20px 10px;
    }
    .innovative__box{
        padding-top: 0;
    }
}